.about-video{
    @apply
    bg-primary flex items-center justify-center px-4 lg:px-0
}

.about-video div{
    @apply
    w-full max-w-5xl
}

.about-video iframe{
    height:631px;

    @apply
    w-full
}

.about-video video{
    height:631px;
    width:1100px;
    max-width:100%;
}

@media(max-width:768px){
    .about-video iframe, .about-video video{
        height:203px;
    }
}