.search-bar-container{
    transform:translate(-50%, 0);
    z-index:39;
    @apply
    w-11/12 lg:w-full h-auto lg:h-auto py-4 px-8 bg-white m-auto -mt-28 absolute max-w-6xl mx-auto left-2/4
}

.search-bar-container.expand{
    transform:translate(-50%, -65%);
}

@media(max-width:1024px){
    .search-bar-container{
        transform:translate(-50%, -10%);
    }
    .search-bar-container.expand{
        transform:translate(-50%, -55%);
    }
}

.search-bar-title{
    @apply
    border-b border-primary h-auto lg:h-12 flex items-center
}

.search-bar-title h4{
    @apply
    text-xl lg:text-2xl text-primary text-center lg:text-left font-novelinBold
}

.search-bar-inputs{
    @apply
    flex gap-2 lg:gap-2 flex-wrap py-4 flex-col lg:flex-row w-full
}

.search-bar-inputs .container-input{
    @apply
    lg:h-10
}

.search-bar-inputs .select-container{
    @apply
    lg:flex-1
}

.search-bar-inputs button{
    @apply
    mt-6 lg:flex-1 border-primary
}

.search-bar-container fieldset.full-search {
    @apply
    w-full
}

.search-bar-container fieldset.full-search .full-search-bar{
    max-width: none!important;

    @apply
    text-base lg:text-2xl
}

.search-bar-container .search-bar-results{
    @apply
    hidden
}

.search-bar-container.expand .search-bar-results{
    @apply
    flex gap-4 lg:overflow-hidden overflow-auto
}

.search-more-results button{
    @apply
    border-0
}

.search-bar-container .search-more-results{
    @apply
    hidden
}

.search-bar-container.expand .search-more-results{
    @apply
    mb-4 pb-4 border-b flex justify-center lg:justify-end
}

.clearButton{
    @apply
    mx-4 cursor-pointer font-semibold text-regularLight hover:text-primary
    flex gap-2 items-center
}