.anchor-menu-container{
    @apply
    -mb-4 bg-ultralight mt-4 overflow-auto pb-4 lg:pb-2
}

@media(min-width:1024px){
    .anchor-menu-container.fixe{
        top:80px;
        @apply
        w-full fixed z-30 py-2 shadow-md
    }
}

@media(max-width:1024px){
    .anchor-menu-container.fixe{
        top:60px;
        @apply
        w-full fixed z-30 py-2 shadow-md
    }
}

.anchor-menu-width{
    max-width:1560px;
    @apply
    m-auto flex gap-2
}

.anchor-menu-container::-webkit-scrollbar {
    height: 4px;
}

.anchor-menu-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.anchor-menu-container::-webkit-scrollbar-thumb {
    background-color: #987F6A;
    outline: none;
}