.carousel-container.high{
    @apply
    flex gap-8 py-12 px-4 lg:px-0
}

.highPropertiesSwiper .button-container-left{
    @apply
    absolute z-20 inset-y-0 w-20 lg:bg-secondary left-0
}

.highPropertiesSwiper .button-container-right{
    @apply
    absolute z-20 inset-y-0 w-20 lg:bg-secondary right-0
}

.highPropertiesSwiper .custom-button{
    @apply
    cursor-pointer absolute inset-y-1/4 lg:inset-y-2/4
}

.highPropertiesSwiper .custom-button svg{
    @apply
    fill-soft w-8 h-8 transition bg-primary rounded-full p-1 lg:p-0
}

.highPropertiesSwiper .custom-button svg:hover{
    @apply
    scale-125
}

.highPropertiesSwiper .custom-prev-button{
    @apply
    -left-2 lg:left-4
}

.highPropertiesSwiper .custom-next-button{
    @apply
    -right-2 lg:right-4
}

.highPropertiesSwiper{
    width: 100%;
    @apply
    px-0 lg:px-20 max-w-full
}

.highPropertiesSwiper .swiper-wrapper{
    width: 100%;
    max-width:1600px;
}

.mobile-link{
    @apply
    flex lg:hidden w-full justify-center -mt-4 pb-8 text-soft uppercase underline hover:text-white cursor-pointer
    relative z-20
}

.section-container svg.bg-detail{
    @apply
    w-full h-full absolute inset-0
}