.more-filter-modal{
    width:700px;
    transform:translate(100%,0);
    @apply
    max-w-full fixed bg-white shadow-lg z-40 top-24 bottom-0 right-0 px-4 py-12
    lg:px-20 lg:py-12 overflow-auto h-full lg:h-auto transition
}

.more-filter-modal.open{
    transform:translate(0,0);
}

.more-filter-modal .modal-header{
    @apply
    flex justify-between w-full items-center font-novelinBold text-primary
}

.more-filter-modal .modal-header svg{
    @apply
    w-6 h-6 cursor-pointer hover:scale-125 transition
}

.more-filter-modal .modal-body{
    @apply
    flex flex-col gap-4 py-6 w-full
}

.more-filter-modal .modal-body .checkbox-list{
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    @apply
    grid
}

.more-filter-modal-overlay{
    @apply
    hidden
}

.more-filter-modal-overlay.open{
    @apply
    block bg-primary fixed inset-0 z-30 opacity-50
}

.modal-footer{
    @apply
    flex gap-2 lg:mt-8
}

.modal-footer .clear{
    @apply
    border border-primary text-primary hover:bg-primary hover:text-white
}

.modal-footer .accept{
    @apply
    border border-primary bg-primary text-white hover:bg-white hover:text-primary
}

.modal-footer button{
    @apply
    px-2 lg:px-4 h-10 font-novelinBold
}

@media(max-width:1024px){
    .more-filter-modal .modal-body .checkbox-list{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    .more-filter-modal.open{
        @apply
        w-full max-w-full fixed bg-white shadow-lg z-40 top-0 left-2/4 -translate-x-1/2 px-4 py-12
        lg:px-20 lg:py-12 rounded-md overflow-auto h-full lg:h-auto
    }
}

.checkboxfilters h5{
    font-size:11px;
    @apply
    text-soft uppercase font-bold mt-4 mb-2
}

.more-filter-modal::-webkit-scrollbar {
    width: .5em;
}

.more-filter-modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.more-filter-modal::-webkit-scrollbar-thumb {
    background-color: #987F6A;
    outline: none;
}